@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import "tailwindcss";


* {
  font-family: 'Press Start 2P', cursive;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}

